* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover 
{
   color:rgb(10, 10, 10); 
   text-decoration:none; 
   cursor:pointer;  
}

.home-main {
  width:100vw;
  height: 100vh;
}

.header{
  width: 100%;
  height: 10%;
  background: rgb(237, 243, 237);
  display:flex;
  align-items: center;
  padding-left: 10%;
}

.nav-links{
  margin: 0 auto;
  width: 100%;
  height: 10%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

  .featured-header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 300px){
  .home-body{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-body > img{
    width: 80%;
    height: 80%;
    opacity: .70;
  }

  .home-product-body{
    height: 100%;
    width: 100%;
  }

  .home-product{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-product > img{
    width: 80%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .home-product > p{
    font-size: 80%;
  }
}

@media(min-width: 600px){
  .nav-links{
    width: 80%;
  }

  .home-body {
    width: 100%;
    height: 70%;
  }

  .home-product > img{
    height: 50%;
    width: 50%;
  }

}

@media(min-width: 700px){
  .nav-links{
    width: 70%;
  }

  .home-body > img{
    width: 60%;
  }

  .home-product-body{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
  }

  .home-product {
    height: 90%;
    width: 33%;
  }

  .home-product > img{
    width: 100%;
    height: 50%;
  }
}

