.blog-main{
    width: 100%;
    height: 100%;
}
.blog-first-post{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-first-post > h1{
    margin-top: 50px;
}

.blog-first-post > p{
    margin: 50px;
    width: 60%;
    font-size: 90%;
}

.sustainability{
    font-size: 120%;
}

@media(min-width:300px){
    .sustainability{
        font-size: 80%;
    }
    .blog-first-post > p{
        margin: 30px;
        width: 60%;
        font-size: 70%;
    }
    .blog-first-post > h1{
        margin-top: 30px;
    }
}